@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Users Management"; }
@model IEnumerable<FrameworkProject.Models.Users>
@{
    <body id="page-top">
        <div id="wrapper">
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="color: black">
                        <h2 class="m-0 font-weight-bold text-primary">
                            Users management
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered"
                                   id="dataTable"
                                   width="100%"
                                   cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>UserID</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Registrationdate</th>
                                        <th>isBanned</th>
                                        <th>isAdmin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        @foreach (var item in Model)
                                        {
                                            if (item.ISDELETED == 1)
                                            {
                                                <tr style="background-color: red">
                                                    <td>@item.USERID</td>
                                                    <td>@item.EMAIL</td>
                                                    <td>@item.PASSWORD</td>
                                                    <td>@item.FIRSTNAME</td>
                                                    <td>@item.LASTNAME</td>
                                                    <td>@item.PHONE</td>
                                                    <td>@item.ADDRESS</td>
                                                    <td>@item.REGISTRATIONDATE</td>
                                                    <th><a href="/User/Active?u=@item.USERID" style="color: black">Active</a></th>
                                                    <td>Deleted</td>
                                                </tr>
                                            }
                                            else if (item.ROLEID == 1)
                                            {
                                                <tr style="background-color: cornflowerblue">
                                                    <td>@item.USERID</td>
                                                    <td>@item.EMAIL</td>
                                                    <td>@item.PASSWORD</td>
                                                    <td>@item.FIRSTNAME</td>
                                                    <td>@item.LASTNAME</td>
                                                    <td>@item.PHONE</td>
                                                    <td>@item.ADDRESS</td>
                                                    <td>@item.REGISTRATIONDATE</td>
                                                    <th><a href="/User/Delete?u=@item.USERID" style="color: black">Delete</a></th>
                                                    <th><a href="/User/ToMem?u=@item.USERID" style="color: black">To Member</a></th>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@item.USERID</td>
                                                    <td>@item.EMAIL</td>
                                                    <td>@item.PASSWORD</td>
                                                    <td>@item.FIRSTNAME</td>
                                                    <td>@item.LASTNAME</td>
                                                    <td>@item.PHONE</td>
                                                    <td>@item.ADDRESS</td>
                                                    <td>@item.REGISTRATIONDATE</td>
                                                    <th><a href="/User/Delete?u=@item.USERID" style="color: black">Delete</a></th>
                                                    <th><a href="/User/ToAdmin?u=@item.USERID" style="color: black">To Admin</a></th>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script> <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script> <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script> <!-- Page level custom scripts -->
        <script src="js/demo/datatables-demo.js"></script>
    </body>
}
